body{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}
#imageContainer {
    width: 100%;
    height: 500px;
    filter: opacity(50%);
}
#myText{
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%,-50%);
    width:100%;
    text-align: center;
}
#myText div{
    font-size: 50px;
    font-weight: 600;
}
#myText p{
    font-weight: bold;
}
#aboutMe{
    width: 100%;
    height: 100%;
}
#headerContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 24px;
}
#hC{
   list-style:none;
   padding-left:0px;
   display: flex;
   right: 0;
   padding-right: 40px;
}
#logo{
    display: flex;
    align-items: center;
}
#hC a{
    text-decoration-line: none;
    color: black;
    margin-right: 10px;
    font-size: 20px;
}
#career{
    margin-right: 40px;
    width: 100%;
    background-color: rgba(235,235,235,1);
}
#middletext{
    font-weight: 600;
    color: darkblue;
}
header{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    background-color: transparent;
    z-index: 1;
}
