<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../public/stylesheets/aboutMe.css' type="text/css"/>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>
<body>
<div id="aboutMe">
    <h2 style="width: 100%; text-align:center">ABOUT ME</h2>
    <div id="myInfo">
    <div id="profileContainer" class="Container">
        <img id="profile" class="img1" src="../public/images/profilephoto.png"/>
        <div id="myName" class="rightContainer">
            <div>이름</div>
            <div>김건희</div>
        </div>
    </div>
    <div class="Container">
        <img id="calendarIcon" class="img2" src="../public/images/callendar.png">
        <div class="rightContainer">
            <div>생년월일</div>
            <div>1993.06.24</div>
        </div>
    </div>
    <div class="Container">
        <img class="img1" src="../public/images/phone.png">
        <div class="rightContainer">
            <div>연락처</div>
            <div>010-3656-7130</div>
        </div>
    </div>
    <div class="Container">
        <img class="img2" src="../public/images/email.png" />
        <div class="rightContainer">
            <div>이메일</div>
            <div>kimgunhee127@gmail.com</div>
        </div>
    </div>
</div>
</div>
</body>
</html>