<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../public/stylesheets/project.css' />
</head>
<body>
   <div id="project"> 
    <h2 style="width: 100%; text-align:center;">PROJECTS</h2>
    <div id="project_dermy1">
        <div id="project_title"></div>
        <div id="project_img_slider">
            <img src="../public/images/cave.png"/>
            <img src="../public/images/cave.png"/>
            <img src="../public/images/cave.png"/>
        </div>
        <div id="project_information1"></div>
        <div id="project_information2">
            <img><div></div>
            <img><div></div>
            <img><div></div>
            <img><div></div>
        </div>
    </div>
</div>
</body>
</html>